{% assign news_list = site.news | sort: "date" | reverse | slice: 0, include.limit -%}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
    <div class="px-3 pb-3 small">
        {% for item in news_list %}
        <div class="py-2 {% unless forloop.first %}border-top border-gray{% endunless %} d-flex">
            <div class="flex-grow-1">{{ item.title }}</div>
            <div class="ml-auto text-muted no-break"><i>{{ item.date | date: "%b %Y" }}</i></div>
        </div>
        {% endfor %}
    </div>
</div>
